.menu {
  max-width: 400px;
  width: 100%;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  transition: var(--main-transition);
}

.menu-action__btn {
  border: none;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
  background: var(--main-button-background-hover);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: -30px;

  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: var(--main-transition);
}

@media (max-width: 815px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 90%;
    height: 100vh;
    z-index: 2;
    background-color: var(--background-color);
    border-right: 3px solid var(--main-button-background-active);
  }

  .menu-action__btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}